<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Food web</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="style.css" rel="stylesheet" />
</head>

<body>

    <section class="menu" id="menu">

        <h3 class="sub-heading">HOME</h3>
        <h1 class="heading">SHOP-PET</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/img1.jpg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Giỏ Thú Cưng</h3>
                    <p>Thích Hợp cho bé mèo năng động</p>
                    <a href="#" class="btn">Thêm</a>
                    <span class="pice">800.000 VND</span>
                </div>
            </div>


        </div>

    </section>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="js/script.js"></script>

</body>

</html>